/***** CSS RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************/

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

.float-left {
    float: left;
}

header {
    background-color: #0C325A;
    height: 33vw;
    width: 100%;
    position: relative;
    background-image: url("../img/background-header.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 107% 100%;
}

.container-header {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.navbars-row {
    padding-top: 20px;
    height: 20%;
    line-height: 200%;
}

.logo,
.navbar-left,
.navbar-right {
    display: inline-block;
}

.navbars-row :last-child:not(:nth-child(2)) {
    text-align: right;
}

.logo {
    margin-right: 4vw;
}

.logo img {
    width: 7vw;
    vertical-align: bottom;
}

.navbar-left li a:hover,
.navbar-right li a:first-child:hover {
    background-color: rgba(0, 22, 46, 0.3);
    border-radius: 6px;
    box-shadow: 1px 2px 1px rgba(225, 225, 225, 0.2)
}

ul>li {
    display: inline-block;
    text-align: center;
}

ul {
    list-style: none;
    display: inline-block;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 0.7vw;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0.6vw;
}

.navbar-left {
    width: 45%;
    height: 100%;
}

.navbar-right {
    width: 40%;
    display: inline-block;
}
.navbar-right a{
    margin-right: 1vw;
}
.title-button-row {
    max-width: 38%;
    color: white;
    position: relative;
    top: 20%;
    height: 10vw;
}

h1 {
    font-size: 2.8vw;
    margin-bottom: 2.5vw;
}

.title-button-row>a {
    padding: 1vw 2vw;
}

.grey-section {
    background-color: #D3D3D3;
    height: 10vw;
    text-align: center;
}

.texts-grey-section {
    width: 50%;
    line-height: 2vw;
    padding: 2.5vw 0;
    margin: 0 auto;
}

.texts-grey-section p:last-child {
    color: #808080;
}

.button {
    border-radius: 6px;
    text-align: center;
    padding: 0.1vw 1.9vw;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.green-button {
    padding: 0.2vw 1vw;
    background-color: #7CBB02;
    border: 1px solid #7CBB02;
}

#three-colums{
    width: 100%;
    height: 30vw;
}

.three-colums-container {
    width: 80%;
    height: 100%;
    margin: 10px auto;
    text-align: center;

}

.three-colums-container img {
    margin: 30px 0;
    height: 10vw;
    width: 100%;
}

.three-colums-container h2 {
    margin: 0 auto;
    width: 90%;
    color: #7CBB02;
}

.three-colums-container p {
    padding-bottom: 3%;
}

hr {
    border-color: #f2f2f2;
    margin: 20px auto;
    width: 98%;
}

.three-colums-container hr {
    border-color: #D3D3D3;
    width: 18%;
}

.col:hover {
    border: 1px solid #7CBB02;
    border-radius: 6px;
    border-top: none;
    box-shadow: 2px 5px 2px rgba(225, 225, 225, 0.4)
}

.col-left-three-colums,
.col-center-three-colums,
.col-right-three-colums {
    width: calc(100%/3);
    float: left;
    padding: 0px 1vw;
    height: 100%;
    border: 1px solid transparent;
    border-top: none;
}

.two-colums-container {
    width: 70%;
    height: 100%;
    padding-bottom: 1vw;
    margin: 0 auto;
}

#two-colums h2 {
    font-size: 1.8vw;
    width: 90%;
}

.left-col-two-colums,
.right-col-two-colums {
    width: calc(100%/2);
    float: left;
    padding: 5vw 3vw;
    height: 100%;
}

.left-col-two-colums img{
    width: 100%;
}
.right-col-two-colums * {
    margin: 11px 0px;
    font-weight: bold;
    ;
}

.right-col-two-colums a {
    font-size: 0.8vw;
}

p {
    color: grey;
}

#second-grey-section {
    text-align: left;
    position: relative;
    width: 100%;
    ;
}

.left-colum-s-grey,
.right-colum-s-grey {
    width: calc(100%/2);
    height: 100%;
}

.left-colum-s-grey > h2 {
    position: relative;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    font-size: 1.9vw;
    font-weight: bold;
}

.right-colum-s-grey {
    color: #808080;
    text-align: center;
}

.right-colum-s-grey ul {
    position: relative;
    padding-left: 3vw;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.right-colum-s-grey li {
    font-weight: bold;
    font-size: 1vw;
    margin: 0.5vw;
}

.right-colum-s-grey a {
    padding: 1vw 1vw;
}

select {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #808080;
    overflow: hidden;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    min-width: 180px;
}

option {
    text-align: left;
}

#help {
    position: fixed;
    left: 82%;
    bottom: 0;
    padding: 0.8vw 0.8vw;
}